header{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background: rgb(188, 228, 228);   
} 
.box{
    display: flex;
}
li{
    list-style: none;
   margin: 3px;
}
a{
    text-decoration: none;
    color: black;
}
.uls{
    display: flex;
}

 
li{
    list-style: none;  
}

a{
    text-decoration: none;
    color: black;
    
} 
@media all and (max-width: 600px){
    header{
        background: rgb(238, 129, 20);
        flex-direction: column;
        margin: 0 auto;  
        padding: 0;
    }
    .box{
        margin: 2px;
        align-items: center;
        box-sizing: border-box;
    }.uls{
        flex-direction: column; 
       
    }
    li {
        
        text-align: center;
        margin: 3.5px;
        
    } 
}
