.content{
  width: 550px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 400px){
    .content{
        background: burlywood;
        width: 93%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        border:1px solid black;
        box-sizing: border-box;
    }
}